<footer class="mt-32">
    <p class="flex flex-row items-center text-lg">
        Made with
        <span class="mx-1 font-semibold text-red-500 dark:text-blue-500"
            >Astro</span
        >
        by tinystudioo.
    </p>
</footer>
