---
import Bulb from "components/common/Bulb.astro";
import { getLangFromUrl, useTranslatedPath } from "i18n/utils";
import LanguageSwitcher from "components/common/LanguageSwitcher.astro";

const lang = getLangFromUrl(Astro.url);
const path = Astro.url.pathname;
const translatePath = useTranslatedPath(lang);

const isHome = path === `/${lang}` || path === `/${lang}/` || path === "/";

const isProjects = path.includes("/projects");

const currentPath = `font-semibold bg-clip-text text-transparent bg-gradient-to-br
                    from-red-400 to-red-600
                    dark:from-blue-400 dark:to-blue-600`;
---

<header
    class="mx-auto flex flex-col p-8 space-y-4 items-center w-full max-w-7xl md:w-3/4 md:flex-row md:py-10 md:space-y-0 md:justify-between"
>
    <Bulb />

    <a href={translatePath("/")} class="text-xl font-bold">
        <span class="text-red-500 dark:text-blue-500 mr-1">by</span>
        tinystudioo.
    </a>

    <ul class="flex flex-row space-x-8 text-lg items-center">
        <li class={isHome ? currentPath : ""}>
            <a href={translatePath("/")}>Home</a>
        </li>
        <li class={isProjects ? currentPath : ""}>
            <a href={translatePath("/projects")}>Projects</a>
        </li>

        <LanguageSwitcher />
    </ul>
</header>
